:root {
    --dark-blue: #2d3341;
    --green: #49aa26;
    --red: #e92929;
    --background: #f0f2f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background);
    overflow-x: hidden;
    width: 100vw;
}

header {
    background: var(--dark-blue);
    padding: 4rem 0 10rem;
    text-align: center;
}

header h1 {
    color: #fff;
    font-weight: 400;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
    padding-top: 2rem;
}

/* GRID CARDS */
#balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: -5rem;
}

.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    color: var(--dark-blue);
}

.card.total {
    background: var(--green);
    color: white;
}

.card.total.negative {
    background: var(--red);
}

/* estilizando forms */
#transaction-form, #history {
    margin-top: 2rem;
    background: white;
    padding: 1.5rem;
    border-radius: 0.25rem;
}

form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 0.2rem;
    border: 1px solid #dcdcdc;
}

.type-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
}

/* switch a caixa ao redor do slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
    margin-bottom: 0.8rem;
}

/* esconder o checkbox padrão */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* o slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--red); /* padrao saida */
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px; width: 26px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--green); /* ligado entrada */
}

input:checked + .slider::before {
    transform: translateX(34px);
}

form button {
    width: 100%;
    padding: 0.8rem;
    background: var(--green);
    color: white;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: filter 0.2s;
}

form button:hover {
    filter: brightness(0.9);
}

/* ESTILIZAÇÃO DA LISTA */
table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
    table-layout: fixed;
}

table th, table td {
    word-wrap: break-word;
}

table th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table td {
    background: white;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--green);
}

td.expense {
    color: var(--red);
}

.remove-icon {
    cursor: pointer;
    transition: opacity 0.2s;
}

.remove-icon:hover {
    opacity: 0.6;
}

@media (max-width: 768px){
    #data-table thead {
        display: none;
    }
    #data-table tbody tr {
        display: grid;
        grid-template-areas: 
        "desc desc"
        "val action";
        background: white;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.25rem;
        gap: 0.5rem;
    }

    #data-table td {
        background: transparent;
        padding: 0;
    }

    #data-table td.description {
        grid-area: desc;
        font-weight: bold;
        font-size: 1.1rem;
    }

    #data-table td.income,
    #data-table td.expense {
        grid-area: val;
        font-size: 1rem;
    }

    #data-table td:last-child {
        grid-area: action;
        text-align: right;
    }

    #balance {
        grid-template-columns: 1fr;
    }
}